{# お支払情報 #}
{% if coupon_order_list|length > 0 %}
<dl id="coupon_info_box__couponlist" class="dl-horizontal">
    <dt>ご利用クーポン</dt>
    <dd class="form-group form-inline">
        <table id="coupon_info_box__payment_method" class="dl-horizontal">
{% for CouponOrder in coupon_order_list %}
		<tr>
            <td class="col-sm-6">{{ CouponOrder.Coupon.couponCode }}</td>
            <td class="form-group form-inline text-primary col-sm-6">{{ (0-CouponOrder.discountPrice)|price }}</td>
        </tr>
{% endfor %}
        </table>
    </dd>
</dl>
<hr>
{% endif %}
{#}
{% if coupon_order_list|length > 0 %}
<div id="coupon_info_box" class="box accordion">
    <div id="coupon_info_box__toggle" class="box-header toggle active">
        <h3 class="box-title">クーポン情報<svg class="cb cb-angle-down icon_down"> <use xlink:href="#cb-angle-down" /></svg></h3>
    </div><!-- /.box-header -->
    <div id="coupon_info_box__body" class="box-body accpanel" style="display: block;">
        <dl id="coupon_info_box__payment_method" class="dl-horizontal">
{% for CouponOrder in coupon_order_list %}
            <dt>{{ CouponOrder.Coupon.couponCode }}</dt>
            <dd class="form-group form-inline text-primary">{{ (0-CouponOrder.discountPrice)|price }}</dd>
{% endfor %}
        </dl>
    </div>
</div>
{% endif %}
{#}