<section>
	<div class="event topCategory-wrapp" id="event">
	<p class="contents-title font_a">ABOUT</p>
	<ul>
	<li><a href="https://ancharme.jp/about"><img src="https://ancharme.jp/html/template/ancharme/img/top/about_banner.jpg" alt=""></a></li>
	</ul>
	</div>
</section>