<div class="bannerContetnts">
  <div class="bannerContetnts-wrapp">
    <ul class="bannerContetnts-list">
      <li class="bannerContetnts-list-item">
        <a href="#" class="bannerContetnts-list-item-link">
          <img src="{{ app.config.front_urlpath }}/img/top/banner_01.png" alt="banner" class="bannerContetnts-list-item-link-image">
        </a>
      </li>
      <li class="bannerContetnts-list-item">
        <a href="#" class="bannerContetnts-list-item-link">
          <img src="{{ app.config.front_urlpath }}/img/top/banner_02.png" alt="banner" class="bannerContetnts-list-item-link-image">
        </a>
      </li>
      <li class="bannerContetnts-list-item">
        <a href="#" class="bannerContetnts-list-item-link">
          <img src="{{ app.config.front_urlpath }}/img/top/banner_03.png" alt="banner" class="bannerContetnts-list-item-link-image">
        </a>
      </li>
      <li class="bannerContetnts-list-item">
        <a href="#" class="bannerContetnts-list-item-link">
          <img src="{{ app.config.front_urlpath }}/img/top/banner_04.png" alt="banner" class="bannerContetnts-list-item-link-image">
        </a>
      </li>
    </ul>
  </div>
</div>