<section>
	<div class="event topCategory-wrapp" id="event">
	<p class="contents-title font_a">EVENT</p>
	<ul>
	<li><img src="https://ancharme.jp/html/template/ancharme/img/top/bnr01.jpg" alt=""></li>
	</ul>
	</div>
</section>