<div class="footer-navigation">
  <div class="footer-navigation-wrapp">
    <nav>
      <ul class="footer-navigation-list">
        <li class="footer-navigation-list-item"><a class="footer-navigation-list-item-link" href="https://ancharme.jp/help/privacy">PRIVARY POLICY</a></li>
        <li class="footer-navigation-list-item"><a class="footer-navigation-list-item-link" href="https://ancharme.jp/help/tradelaw">特定商取引に基づく表記</a></li>
<li class="footer-navigation-list-item"><a class="footer-navigation-list-item-link" href="https://ancharme.jp/contact">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</div>