<div class="footer_logo_area">
        <p class="logo">
          <a href="{{ url('homepage') }}">
            <img src="{{ app.config.front_urlpath }}/img/top/footer_logo.svg" alt="ancharme">
          </a>
        </p>
    </div>