<div class="origin-navi">
  <div class="title-wrapp">
<p class="contents-title font_a">ITEM-CATEGORY</p>
  </div>
  <div class="origin-navi-wrapp">
    <nav class="origin-navi-navigation">
     <ul class="font_a origin-navi-list">
		 <li class="origin-navi-list-item"><a class="origin-navi-list-item-link" href="https://ancharme.jp/listTops">TOPS　＞</a></li>
		 <li class="origin-navi-list-item"><a class="origin-navi-list-item-link" href="https://ancharme.jp/listBottoms">BOTTOMS　＞</a></li>
		 <li class="origin-navi-list-item"><a class="origin-navi-list-item-link" href="https://ancharme.jp/listOuter">OUTER　＞</a></li>
		 <li class="origin-navi-list-item"><a class="origin-navi-list-item-link" href="https://ancharme.jp/listDress">DRESS　＞</a></li>
	</ul>
    </nav>
  </div>
</div>