<div class="sns">
  <div class="sns-button-wrapper">
    <a href="https://www.instagram.com/ancharme_official/" class="sns-link"><img src="{{ app.config.front_urlpath }}/img/top/footer_insta.png" class="sns-button-img"></a>
    <a href="https://line.me/R/ti/p/%40462brvvy" class="sns-link"><img src="{{ app.config.front_urlpath }}/img/top/footer_line.png" class="sns-button-img"></a>
  </div>
</div>