<!-- contents_block -->
<div id="contents_block" class="template blockLayout">
    <div class="section-container">
        <div class="itemList_block">
            <ul class="list">
                <li class="list-item">
                    <a class="link" href="https://line.me/R/ti/p/%40462brvvy">
                        <img src="{{ app.config.front_urlpath }}/img/banner/line.png" class="list-image">
                    </a>
                </li>
                <li class="list-item">
                    <a class="link" href="#">
                        <img src="{{ app.config.front_urlpath }}/img/banner/top_banner.jpg" class="list-image">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /contents_block -->