<!-- pickUp -->
<div id="pickup" class="template blockLayout original">
    <div class="contaner">
        <div class="title_block">
            <h2 class="title">PICKUP</h2>
        </div>
        <div class="itemList_block">
            <div class="itemList_list pickup_slider">
                {# 商品ブロック #}
                <div class="item_block">
                    <div class="item_wrapp">
                        <a class="item_link" class="itemList_contents_link" href="https://ancharme.jp/products/detail/108">
                            <img class="item_image" src="https://ancharme.jp/html/upload/save_image/0307032152_5e6294c0ce21a.gif">
                        </a>
                    </div>
                    <div class="detail_block">
                        <h3 class="title">
                            <a class="text_link" href="https://ancharme.jp/products/detail/108">
                                商品タイトルを入力ください。
                            </a>
                        </h3>
                        <p class="price_text">商品テキストを入力ください。</p>
                    </div>
                </div>
                {# 商品ブロック #}
                {# 商品ブロック #}
                <div class="item_block">
                    <div class="item_wrapp">
                        <a class="item_link" class="itemList_contents_link" href="https://ancharme.jp/products/detail/108">
                            <img class="item_image" src="https://ancharme.jp/html/upload/save_image/0307032152_5e6294c0ce21a.gif">
                        </a>
                    </div>
                    <div class="detail_block">
                        <h3 class="title">
                            <a class="text_link" href="https://ancharme.jp/products/detail/108">
                                商品タイトルを入力ください。
                            </a>
                        </h3>
                        <p class="price_text">商品テキストを入力ください。</p>
                    </div>
                </div>
                {# 商品ブロック #}
                {# 商品ブロック #}
                <div class="item_block">
                    <div class="item_wrapp">
                        <a class="item_link" class="itemList_contents_link" href="https://ancharme.jp/products/detail/108">
                            <img class="item_image" src="https://ancharme.jp/html/upload/save_image/0307032152_5e6294c0ce21a.gif">
                        </a>
                    </div>
                    <div class="detail_block">
                        <h3 class="title">
                            <a class="text_link" href="https://ancharme.jp/products/detail/108">
                                商品タイトルを入力ください。
                            </a>
                        </h3>
                        <p class="price_text">商品テキストを入力ください。</p>
                    </div>
                </div>
                {# 商品ブロック #}
                {# 商品ブロック #}
                <div class="item_block">
                    <div class="item_wrapp">
                        <a class="item_link" class="itemList_contents_link" href="https://ancharme.jp/products/detail/108">
                            <img class="item_image" src="https://ancharme.jp/html/upload/save_image/0307032152_5e6294c0ce21a.gif">
                        </a>
                    </div>
                    <div class="detail_block">
                        <h3 class="title">
                            <a class="text_link" href="https://ancharme.jp/products/detail/108">
                                商品タイトルを入力ください。
                            </a>
                        </h3>
                        <p class="price_text">商品テキストを入力ください。</p>
                    </div>
                </div>
                {# 商品ブロック #}
                {# 商品ブロック #}
                <div class="item_block">
                    <div class="item_wrapp">
                        <a class="item_link" class="itemList_contents_link" href="https://ancharme.jp/products/detail/108">
                            <img class="item_image" src="https://ancharme.jp/html/upload/save_image/0307032152_5e6294c0ce21a.gif">
                        </a>
                    </div>
                    <div class="detail_block">
                        <h3 class="title">
                            <a class="text_link" href="https://ancharme.jp/products/detail/108">
                                商品タイトルを入力ください。
                            </a>
                        </h3>
                        <p class="price_text">商品テキストを入力ください。</p>
                    </div>
                </div>
                {# 商品ブロック #}
                {# 商品ブロック #}
                <div class="item_block">
                    <div class="item_wrapp">
                        <a class="item_link" class="itemList_contents_link" href="https://ancharme.jp/products/detail/108">
                            <img class="item_image" src="https://ancharme.jp/html/upload/save_image/0307032152_5e6294c0ce21a.gif">
                        </a>
                    </div>
                    <div class="detail_block">
                        <h3 class="title">
                            <a class="text_link" href="https://ancharme.jp/products/detail/108">
                                商品タイトルを入力ください。
                            </a>
                        </h3>
                        <p class="price_text">商品テキストを入力ください。</p>
                    </div>
                </div>
                {# 商品ブロック #}
            </div>
        </div>
    </div>
</div>
<!-- /pickUp -->