<!-- coordinate -->
<div id="coordinate" class="template blockLayout">
	<div class="section_container">
		<div class="title_block">
			<h2 class="title">COORDINATE</h2>
		</div>
		<div class="list_block">
			<ul class="list">
				<li class="list_item">
					<a class="link" href="">
						<div class="news_item_block">
							<div class="image_block">
								<img src="{{ app.config.front_urlpath }}/img/banner/default_thumbnail_01.png" alt="">
							</div>
							<div class="detail_block">
								<div class="label_new">
									<span class="text">NEW</span>
								</div>
								<div class="date">
									<span class="text">2019.12.12</span>
								</div>
								<div class="title_block">
									<h3 class="title">title</h3>
								</div>
							</div>
						</div>
					</a>
				</li>
				<li class="list_item">
					<a class="link" href="">
						<div class="news_item_block">
							<div class="image_block">
								<img src="{{ app.config.front_urlpath }}/img/banner/default_thumbnail_01.png" alt="">
							</div>
							<div class="detail_block">
								<div class="label_new">
									<span class="text">NEW</span>
								</div>
								<div class="date">
									<span class="text">2019.12.12</span>
								</div>
								<div class="title_block">
									<h3 class="title">title</h3>
								</div>
							</div>
						</div>
					</a>
				</li>
				<li class="list_item">
					<a class="link" href="">
						<div class="news_item_block">
							<div class="image_block">
								<img src="{{ app.config.front_urlpath }}/img/banner/default_thumbnail_01.png" alt="">
							</div>
							<div class="detail_block">
								<div class="label_new">
									<span class="text">NEW</span>
								</div>
								<div class="date">
									<span class="text">2019.12.12</span>
								</div>
								<div class="title_block">
									<h3 class="title">title</h3>
								</div>
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- coordinate -->
