<section>
    <div class="topCategory-wrapp shop-guide">
        <div class="title-wrapp">
         <p class="contents-title font_a">
            SHOP GUIDE
          </p>
          <p class="contents-title-text">ご購入前に必ずお読みください</p>
        </div>
        <div id="original-category" class="original-category-item-list-block">
          <div class="guide-wrapp">
            <div class="guide-list">
              <label for="label1">
                 <span class="label-icon"></span>➕　注文方法について
              </label>
              <input type="checkbox" id="label1"/>
              <div class="hidden_show">
                <div class="guide-text-wrapp">
                  <p class="guide-text">
                    当サイトのカートから購入画面へ移動してください。<br>
                    またご購入の際は会員登録が必須になりますので、新規会員登録よりご登録をお願い致します。
                  </p>
                </div>
              </div>
            </div>
    
            <div class="guide-list">
              <label for="label2">
                <span class="label-icon">
                </span>➕　お支払いについて
              </label>
              <input type="checkbox" id="label2"/>
              <div class="hidden_show">
                <div class="guide-text-wrapp">
                  <section class="guide-section">
                    <h3 class="guide-title-text">クレジットカード決済</h3>
                    <p class="guide-text">
                      ご利用いただけるカード会社は以下の通りです。<br>
                      VISA/MASTER/JCB/AMEX/DINERS
                    </p>
                    <p class="guide-text">備考</p>
                    <ul class="list">
                      <li class="list-item">・お支払い回数は１回払いのみになります。</li>
                      <li class="list-item">・お支払い総額は以下の通りです。</li>
                      <li class="list-item">商品代金＋送料（※）＋消費税</li>
                      <li class="list-item">※送料は全国一律770円（北海道、沖縄、離島部は1210円)になります。 ※8,000円以上のご購入で送料無料　※8,000円未満の場合は全国一律770円（北海道、沖縄、離島部は1210円になります。）</li>
                    </ul>
                  </section>
    
                  <section class="guide-section">
                    <h3 class="guide-title-text">ー携帯キャリア</h3>
                     <p class="guide-text">
                            商品購入代金を、携帯料金とまとめてお支払できる決済方法です。<br>                        
                            各キャリアの画面にて4桁の暗証番号入力だけで簡単に決済ができます。<br>
                    </p> 
                  </section>

                  <section class="guide-section">
                        <h3 class="guide-title-text">ー代金引換</h3>
                         <p class="guide-text">
                            =代金引換手数料=<br>
                            0～9,999円	　　  ¥364(税込)<br>
                            10,000～29,999円	¥464(税込)<br>
                            30,000～99,999円	¥664(税込)<br>
                            ※表示されている金額はすべて税込みの金額になります。<br>
                            <p></p>

                            商品のお届け時に、佐川急便又はヤマト運輸配達員に代金のお支払いをお願い致します。<br>                        
                            また、ご注文完了後のご注文内容の変更は承っておりません。<br>
                        </p> 
                      </section>

                      <section class="guide-section">
                            <h3 class="guide-title-text">ーコンビニ決済</h3>
                             <p class="guide-text">
                                =コンビニ決済手数料=<br>
                                コンビニ決済手数料：¥330(税込)<br>
                                ※表示されている金額はすべて税込みの金額になります。<br>
                                <p></p>
    
                                

                               注文完了後に送られるメールに記載された番号を使って、全国のコンビニエンスストアで商品購入代金を支払うことができます。<br>                        
                               決済手数料はお客様負担でお願いいたします。<br>
なお、入金期限は10日間とさせていただき、超過した場合にはキャンセルとさせていただきます。<br>
                            </p> 
                          </section>

                      <section class="guide-section">
                            <h3 class="guide-title-text">ー後払い決済</h3>
                             <p class="guide-text">
                                =後払い決済手数料=<br>
                                後払い手数料：¥370(税込)<br>
                                ※表示されている金額はすべて税込みの金額になります。<br>
                                <p></p>

                                このお支払方法の詳細<br>
                                商品の到着を確認してから、「コンビニ」「郵便局」「銀行」で後払いできる安心・簡単な決済方法です。 <br>
                                請求書は、商品とは別に郵送されますので、発行から14日以内にお支払いをお願いします。<br>
※請求書の発行は商品到着後、9日以内に行われます。
                            </p> 
                          </section>


                  <section class="guide-section">
                        <h3 class="guide-title-text">ーapple pay</h3>
                         <p class="guide-text">
                            =apple pay手数料=<br>
                                apple pay手数料：¥270(税込)<br>
                            ※表示されている金額はすべて税込みの金額になります。<br>
                            <p></p>

                            商品購入時に、apple payを選択して支払い決済を済ませてください。<br>                        
                            apple payについては、apple payガイドラインを参照ください。<br>
                        </p> 
                      </section>


                </div>
              </div>
            </div>
    
            <div class="guide-list">
              <label for="label3">
                <span class="label-icon">
                </span>➕　配送方法について
              </label>
              <input type="checkbox" id="label3"/>
              <div class="hidden_show">
                <div class="guide-text-wrapp">
                  <section class="guide-section">
                    <h3 class="guide-title-text">お届けについて</h3>
                    <ul class="list">
                      <li class="list-item">商品のお届け時期は、商品の在庫状況によって異なります。</li>
                      <li class="list-item">ご注文確定後最短翌日、5日以内に発送となります。</li>
                      <li class="list-item">※天候や配送業者により遅れる場合がございます。</li>
                      <li class="list-item">出荷目安の日数につきましては、商品の到着日をお約束するものではありません。</li>
                      <li class="list-item">返品及び交換の際には、必ず運営スタッフ(contact@anchame.jp)へご連絡ください。</li>
                    </ul>
                  </section>
    
                  <section class="guide-section">
                    <h3 class="guide-title-text">配送方法・配送業者について</h3>
                    <p class="guide-text">ヤマト運輸・佐川急便</p>
                  </section>
    
                  <section class="guide-section">
                    <h3 class="guide-title-text">送料</h3>
                    <ul class="list">
                      <li class="list-item">お買い上げ合計金額が8,000円（税込）以上の場合は全国(離島を含む)送料無料です。</li>
                      <li class="list-item">8,000円（税込）未満の場合は、全国一律770円（北海道、沖縄、離島部は1210円）となります。</li>
                      <li class="list-item">商品はお振込完了から最短翌日、8
日以内程度でお届け致します。</li>
                      <li class="list-item">※商品発送後、お客様のお住まいの地域や天候などにより、お届けまでに8日以上有する場合がございます。</li>
                    </ul>
                  </section>
                </div>
              </div>
            </div>
    
            <div class="guide-list">
              <label for="label4">
                <span class="label-icon">
                </span>➕　消費税について
              </label>
              <input type="checkbox" id="label4"/>
              <div class="hidden_show">
                <div class="guide-text-wrapp">
                  <p class="guide-text">全ての商品に消費税がかかります。</p>
                </div>
              </div>
            </div>
    
            <div class="guide-list">
              <label for="label5">
                <span class="label-icon">
                </span>➕　返品について
              </label>
              <input type="checkbox" id="label5"/>
              <div class="hidden_show">
                <div class="guide-text-wrapp">
                  <section class="guide-section">
                    <h3 class="guide-title-text">返品期限</h3>
                    <ul class="list">
                      <li class="list-item">①商品到着後7日以内とさせていただきます。</li>
                      <li class="list-item">お客様都合による返品は一切承りません。</li>
                      <li class="list-item">②商品受領日から7日以内に、欠陥であることを証明できる画像(商品全体及び欠陥の拡大画像)を添付し、「contact@ancharme.jp」までご連絡をお願い致します。</li>
                    </ul>
                    <p class="guide-text">※以下の場合は、返品・交換をお受けできません</p>
                    <ul class="list">
                      <li class="list-item">・使用済みの商品</li>
                      <li class="list-item">・セット商品の一部のみ</li>
                      <li class="list-item">・ワンサイズ商品の返品交換</li>
                      <li class="list-item">・おまけ商品の返品交換</li>
                      <li class="list-item">・お届けから7日以上経過した商品</li>
                      <li class="list-item">・商品のタグ等（説明書・箱・付属品など）が破損、紛失、または破棄された商品</li>
                      <li class="list-item">・商品到着以降に出来た傷や汚れ、破損が生じた商品</li>
                      <li class="list-item">・返品・交換のご連絡なしに返送された商品</li>
                      <li class="list-item">・水着、ピアス、アクセサリー等の商品</li>
                      <li class="list-item">・製造過程により生じた匂い、糸のほつれがある商品</li>
                      <li class="list-item">・ファーや毛の付いた商品が毛が抜けるという理由での返品交換</li>
                    </ul>
                  </section>
    
                  <section class="guide-section">
                    <h3 class="guide-title-text">返品後の対応</h3>
                    <p class="guide-text">
                      返品商品が弊社に到着次第、ご返金手続きをさせていただきます。<br>
                      返金手続きには１〜２週間前後かかる場合もございますので、予めご了承いただきますよう、お願い申し上げます。
                    </p>
                  </section>
                </div>
              </div>
            </div>

            <div class="guide-list">
                <label for="label6">
                  <span class="label-icon">
                  </span>➕　セレクト商品について
                </label>
                <input type="checkbox" id="label6"/>
                <div class="hidden_show">
                  <div class="guide-text-wrapp">
                    <section class="guide-section">
                      <h3 class="guide-title-text">
                        詳しくは以下のページを参照してください。</h3>
                      <ul class="list">
                        <li class="list-item"><a href="https://ancharme.jp/about">詳しくはこちら</a></li>
                      </ul>

                    </section>            
                  </div>
                </div>
              </div>
    
          </div>
        </div>
      </div>
     </section>