<div class="topCategory-wrapp topics">
  <div class="title-wrapp">
    <h2 class="contents-title">
      <img src="{{ app.config.front_urlpath }}/img/top/category_topics.png" alt="topics" class="contents-title-image">
    </h2>
  </div>
  <div id="original-category" class="original-category-item-list-block">
    <div class="list-wrapp">
      <ul class="list">
        <li class="list-item">
          <a href="#" class="list-item-link">
            <img src="{{ app.config.front_urlpath }}/img/top/banner_01.png" alt="noody" class="list-item-iamge">
          </a>
        </li>
        <li class="list-item">
          <a href="#" class="list-item-link">
            <img src="{{ app.config.front_urlpath }}/img/top/banner_02.png" alt="sale" class="list-item-iamge">
          </a>
        </li>
        <li class="list-item">
          <a href="#" class="list-item-link">
            <img src="{{ app.config.front_urlpath }}/img/top/banner_03.png" alt="sale" class="list-item-iamge">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>